@import '../../../styles/colors.scss';

.lightModeHeader {
  background: white;
  height: 70px;
  top: 0;
  z-index: 100;
  width: 100%;
  position: sticky;
  display: flex;
  align-items: center;

  .header-user {
    background-color: white;
    border-radius: 35px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 100%;
    height: 65%;
    position: relative;

    .header-user__initials {
      user-select: none;
      cursor: pointer;
      background-color: black;
      color: white;
      font-size: 18px;
      padding: 7.5px 4px;
      border-radius: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 21px;
      width: 40px;
      height: 40px;
    }

    .header-user__date,
    .header-user__time {
      font-size: 14px;
    }

    .header-user__divider {
      width: 1px;
      height: 20px;
      background-color: #ddd;
      margin: 0 10px;
    }

    .header-navigation {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      .header-navigation__tabs {
        width: 800px;
      }
    }
  }

  .lightHeaderTitle {
    color: $light-text-color;
    margin: 0 10px 0 -30px;
    font-weight: 500;
  }
}

// // make keyframes for .header-user__caret that makes the item go up and down infinitely
// @keyframes caret {
//   0% {
//     transform: translateY(0);
//   }
//   50% {
//     transform: translateY(-5px);
//   }
//   100% {
//     transform: translateY(0);
//   }
// }

// .header-user__caret {
//   animation: caret 1s infinite;
// }

@media (max-width: 768px) {
  .lightModeHeader {
    .header-user {
      .header-user__initials {
        font-size: 16px;
        padding: 6px;
        width: 35px;
        height: 35px;
      }

      .header-user__date,
      .header-user__time {
        display: none;
      }

      .header-user__divider {
        display: none;
      }

      .header-navigation {
        .header-navigation__tabs {
          width: 350px;
        }
      }
    }

    .lightHeaderTitle {
      margin: 0 10px 0 -20px;
    }
  }
}

@media (max-width: 576px) {
  .lightModeHeader {
    .header-user {
      .header-user__initials {
        font-size: 14px;
        padding: 5px;
        width: 30px;
        height: 30px;
      }

      .header-navigation {
        .header-navigation__tabs {
          width: 250px;
        }
      }
    }

    .lightHeaderTitle {
      margin: 0 10px 0 -10px;
    }
  }
}
