.page {
  background-color: #14213d;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 100vh;
}

.matchId {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #e5e5e5;
  border-radius: 5px;
  padding: 5px 10px;

  p {
    border: 1px solid #14213d;
    border-radius: 3px;
    padding: 5px;
    margin: 0;
  }

  span {
    font-size: 14px;
  }
}

.token {
  // border-radius: 50%;
  border-color: #fca311;
  border-width: 5px;
  border-style: solid;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 2;
  position: relative;
}

.row {
  .tile {
    width: 100px;
    height: 100px;
    background-color: #e5e5e5;
    border-color: #e5e5e5;
    border-radius: 0 !important;
  }
}

.row:first-child {
  .tile:first-child {
    border-top-left-radius: 8px !important;
  }

  .tile:nth-child(4) {
    border-top-right-radius: 8px !important;
  }

  .tile:nth-child(6) {
    border-top-left-radius: 8px !important;
  }

  .tile:last-child {
    border-top-right-radius: 8px !important;
  }
}

.row:last-child {
  .tile:first-child {
    border-bottom-left-radius: 8px !important;
  }

  .tile:nth-child(4) {
    border-bottom-right-radius: 8px !important;
  }

  .tile:nth-child(6) {
    border-bottom-left-radius: 8px !important;
  }

  .tile:last-child {
    border-bottom-right-radius: 8px !important;
  }
}

.container {
  position: relative;
  padding: 10px;
  min-width: 100px;
}

.container svg {
  position: absolute;
  z-index: 1;
}

.container .line {
  stroke-dasharray: 260;
  stroke-width: 2px;
  fill: transparent;
  stroke: rgba(78, 255, 13, 0.3);
  animation: svgAnimation 2s linear infinite;
}

@keyframes svgAnimation {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 1000;
  }
}

.finishTile {
  position: relative;
  width: 85px;
  height: 85px;
  background-color: transparent;
  border: 5px solid #fca311;
  border-radius: 50%;
}

.finishTile .part {
  width: 50%;
  height: 50%;
  border-radius: 100% 0 0 0;
  background: #ffcc66; /* Crust color */
  position: absolute;

  &:nth-child(1) {
    top: 0;
    left: 0;
    transform: rotate(0deg);
  }
  &:nth-child(2) {
    top: 0px;
    right: -1px;
    transform: rotate(90deg);
  }
  &:nth-child(3) {
    bottom: 1px;
    right: 0;
    transform: rotate(180deg);
  }

  &:nth-child(4) {
    bottom: 0;
    left: 0;
    transform: rotate(270deg);
  }
}
